<div class="content" style="min-height:800px;">
    <div class="container">
      <div class="row" style="">
           <div class="col-md-12">
                  <h1 class="bigtitle">OUR OFFERINGS</h1>
            </div>
        </div>
      <div class="row" style="">
          <div class="col-md-12 text-center">
              <div class="form-group" style="margin: 30px 100px;">
                  <div class="input-group search_input-group">
                      <input type="text" #searchString class="form-control input-lg" placeholder="Search for your nearest tenet center, test or service." aria-describedby="basic-addon2" value="{{tempstr}}">

                      <span class="input-group-addon" id="basic-addon2" style="background-color:#fff; border:0px;"> 
                          <span><i class="far fa-circle" style="color:#f05b25; font-size: 30px;margin-top: -7px;"></i></span>
                            <div style="font-size: 14px;margin-top: -22px; color:#f05b25"><i class="fa fa-search" (click)="serClick(0,searchString.value)"></i></div>
                             <!-- <button class="btn btn-info btn-brand" style="margin: -30px -60px 0px 0px;border-radius:23px;" (click)="getWishlist()"><i _ngcontent-c1="" class="fa fa-heart" style=""></i></button>  -->
                      </span>

                      <button  class="btn btn-info btn-brand" (click)="clrClick()">Reset</button>
                     
                    </div>

                </div>
            </div>  
        </div>
        <div class="row" style="border-top:2px solid #C0C0C0; padding-top:20px;">
          <div class="col-md-3">
                <p class="sub_heading-brand">CATEGORY</p>
                 <ul class="check_list">
                    <li> <label><input type="checkbox" value="" (click)="getPackages()">Packages</label></li>
                  <!--   <li> <label><input type="checkbox" value="">Test</label></li> -->
                 </ul>
                <p class="sub_heading-brand">CONDITIONS</p>
                  <ul class="check_list">
                    <li *ngFor="let condition of testConditions"> <label><input type="checkbox" value="" (click)="search($event,'cond')" id="{{condition.test_type_id}}">{{condition.condition_name}}</label></li>

                    </ul>
                <p class="sub_heading-brand">SPECILATY</p>
                  <ul class="check_list">
                  <li *ngFor="let item of testSpecialityList"> <label><input type="checkbox" value="" (click)="search($event,'spl')" id="{{item.id}}">{{item.speciality_name}}</label></li>
                 </ul>
            </div>
            <div class="col-md-9" style="border-left:1px solid #c0c0c0; padding-:5px 25px; min-height:500px;">
              <div class="row package_row" id="packages" *ngIf="_packages?.length > 0">
                  <div class="col-md-4" *ngFor="let package of _packages">
                      <div class="package package_container" style="padding:10px 20px;" >
                          <p class="sub_heading-brand ft-16px m-b-15">{{package.package_name}}</p>
                            <ul class="list-ul-default">
                                            <li>MRP: RS.{{package.package_price}}</li>
                                            <li>Package Offer-Price: RS.{{package.package_finalpr}} </li>
                                           <!-- <li>Sed diam nonummy</li> -->
                             </ul>
                             <a class="pull-right text-brandcolor" (click)="getPackageDetails(package.id,package.package_name)">Know More</a>
                              <div class="clearfix"></div>
                                        
                              <div class="package_price">
                                        <h4><i class="fas fa-rupee-sign"></i>{{package.package_price}} </h4>
                                </div>
                                    <div class="package_cart">
                                        <button class="btn btn-brand btn-sm" (click)="getAddPackageCart(package)"><img src="./assets/images/iconimages/carticon.png"/> ADD TO CART</button>
                                    </div>
                                    
                        </div>
                    </div>

                    <div *ngIf="packageServiceListSw" class="modal-dialog" style="position:absolute;top:00px" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">List of Tests Cover Under Package "{{selpackagename}}"</h5>
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button> -->
                      </div>
                      <div class="modal-body">
                        <div *ngIf="_packageServices.length > 0">
                            <li *ngFor="let mem of _packageServices">{{mem.test_name}}</li>
                        </div>
                      </div>
              
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="packageServiceListSw=false">Close</button>
                      </div>
                     </div>
                  </div>
                  
                </div>

                <div class="row package_row" *ngIf="testsList?.length > 0">
                  <div class="col-md-4" *ngFor="let test of testsList; let i = index">
                      <div class="package package_container" style="padding:10px 20px;" >
                          <p class="sub_heading-brand ft-16px m-b-15">{{test.test_name}}</p>
                            <ul class="list-ul-default">
                                            <li><i class="fas fa-rupee-sign"></i>MRP: RS.{{test.test_price}}</li>
                                            <li>Offer-Price: RS.{{test.test_finalpr}} </li>
                                            <li>Discount: RS.{{100-(((test.test_finalpr)/(test.test_finalpr)) * 100)| number : '1.2-2'}}</li>
                             </ul>
                             <a class="pull-right text-brandcolor" (click)="getTestDetails(test.tid)">Know More</a>
                              <div class="clearfix"></div>
                                        
                              <div class="package_price">
                                        <h4><i class="fas fa-rupee-sign"></i>{{test.test_price}} </h4>
                              </div>
                              <div class="package_cart"> 
                                  <button class="btn btn-brand btn-sm" (click)="getAddTestCart(test)"><img src="./assets/images/iconimages/carticon.png"/> ADD TO CART</button>
                              </div>
                                    
                        </div>
                    </div>

                  </div>
               <div class="row package_row">
                  <div class="col-md-6">
                      <div class="package package_container" style="padding:10px 20px;" *ngIf="testsList?.length == 0" >
                          <p class="sub_heading-brand ft-16px m-b-15">Sorry For The Inconviniance,No Test Available</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

     </div>
</div>